.contents {
  margin-top: -30px;
  margin-left: 80px;
  padding-left: 33px;
  border-left: 2px solid #FD7A2C;
 
}

.contents .box{
  width: 520px;
  position: relative;
  padding: 15px;
  border: 1px solid #29252516;
  background-color: #321a69;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  border-radius: 20px;
}

.contents .box:hover{
box-shadow: 0px 3px 12px 0px rgb(144, 0, 255);
border: 1px solid transparent;
}

.contents .box::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
right: 105%;
top: 35px;
background-color: #FD7A2C;


}
.contents .box h4{
  margin-top: -5px;
  color: white;
}
.contents .box h2{
  margin-top: -10px;
  font-weight: 800;
  font-size: 20px;
  font-family:Helvetica;
  color: #FD7A2C;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px
  
}

.contents .box h3{
  margin-top: -8px;
  font-size: 17px;
   color: white;
   
   font-weight: 800;
}
.contents .box p{
  margin-top: -5px;
  font-size: 15px;
}

.stage-cube-cont {
    width: 50%; // to take only half the page
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  // spinning animation
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out; // smotth animation
    animation-iteration-count: infinite; // to spin forever 
    animation-duration: 12s; // 12s loop
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
    //   text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow; // to glow the box
    }
  
    // individual 3d effect styles (using translateZ)
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }

// rotaion animation in animation
  @keyframes spincube {
    from,
    to { // starting point of animation
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% { // on 16% of animation lifecycle
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  

  @media screen and (max-width: 1200px) {
    .contents{
      margin-left: 30px;
      padding-left: 28px;
    }
    .contents .box{
     
     width: 400px;
    }

    .cubespinner {
      margin-top: 750px;
      
    }

  }

  @media screen and (max-width: 415px) {

    .contents{
      padding-left: 23px;
    }
    .contents .box{
     
      width: 300px;
     }

     .cubespinner {
      display: none;
    
    }
  }

 